In [2]:
#first import libraries
import pandas as pd
import numpy as np

#read in the csv kept at the same link each day
filename = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
cases = pd.read_csv(filename)

#look at first five rows
cases.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
#now send this data to SQL!
#reference: https://stackoverflow.com/questions/30631325/writing-to-mysql-database-with-pandas-using-sqlalchemy-to-sql
import pymysql
from sqlalchemy import create_engine

user = 'admin'
passw = 'dude1990'
host =  'group3final.cx1foeolbgvg.us-east-2.rds.amazonaws.com'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'stock_data'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

cases.to_sql(name='corona_cases', con=mydb, if_exists = 'append', index=False)