In [1]:
#first import the necessary packages
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.sectorperformance import SectorPerformances
import pandas as pd
import numpy as np
from datetime import datetime

# Your API key here
key = 'NEDEYZC5RY09YBFE'
ts = TimeSeries(key)

#run sector performance function to get sector data
sp = SectorPerformances(key=key, output_format='pandas')
data, meta_data = sp.get_sector()
print(data)
print(meta_data)

                        Rank A: Real-Time Performance  \
Consumer Staples                              -0.0087
Utilities                                     -0.0090
Health Care                                   -0.0149
Materials                                     -0.0156
Communication Services                        -0.0194
Information Technology                        -0.0214
Consumer Discretionary                        -0.0225
Energy                                        -0.0236
Financials                                    -0.0267
Industrials                                   -0.0284
Real Estate                                   -0.0425

                        Rank B: Day Performance  Rank C: Day Performance  \
Consumer Staples                        -0.0087                  -0.0034
Utilities                               -0.0090                  -0.0250
Health Care                             -0.0149                  -0.0031
Materials                               -0.0156                  -0.0046
Communication Services                  -0.0194                   0.0090
Information Technology                  -0.0214                   0.0216
Consumer Discretionary                  -0.0225                   0.0113
Energy                                  -0.0236                  -0.0007
Financials                              -0.0267                  -0.0261
Industrials                             -0.0284                  -0.0189
Real Estate                             -0.0425                  -0.0462

                        Rank D: Month Performance  Rank E: Month Performance  \
Consumer Staples                          -0.0131                    -0.1072
Utilities                                 -0.0911                    -0.1975
Health Care                                0.0485                    -0.0439
Materials                                 -0.0092                    -0.1557
Communication Services                     0.0819                    -0.0961
Information Technology                     0.0947                    -0.0708
Consumer Discretionary                     0.0873                    -0.1014
Energy                                     0.0897                    -0.3090
Financials                                -0.0915                    -0.3159
Industrials                               -0.0424                    -0.2812
Real Estate                               -0.1131                    -0.2297

                        Rank F: Year-to-Date (YTD) Performance  \
Consumer Staples                                       -0.0891
Utilities                                              -0.1437
Health Care                                            -0.0241
Materials                                              -0.1701
Communication Services                                 -0.0581
Information Technology                                  0.0186
Consumer Discretionary                                 -0.0555
Energy                                                 -0.3802
Financials                                             -0.3102
Industrials                                            -0.2560
Real Estate                                            -0.1862

                        Rank G: Year Performance  Rank H: Year Performance  \
Consumer Staples                          0.0018                    0.0423
Utilities                                -0.0421                    0.0800
Health Care                               0.1290                    0.3317
Materials                                -0.0711                   -0.0308
Communication Services                    0.0411                    0.0860
Information Technology                    0.2301                    0.7302
Consumer Discretionary                    0.0015                    0.3002
Energy                                   -0.4001                   -0.4329
Financials                               -0.2248                   -0.1007
Industrials                              -0.2028                   -0.1045
Real Estate                              -0.1244                    0.0073

                        Rank I: Year Performance  Rank J: Year Performance
Consumer Staples                          0.1733                    1.0849
Utilities                                 0.2662                    0.8483
Health Care                               0.3671                    2.2861
Materials                                -0.0048                    0.6440
Communication Services                    0.0949                    0.6294
Information Technology                    1.2996                    3.4338
Consumer Discretionary                    0.5400                    2.4916
Energy                                   -0.5168                   -0.3374
Financials                                0.0629                    0.6524
Industrials                               0.0522                    0.8526
Real Estate                                  NaN                       NaN
{'Information': 'US Sector Performance (realtime & historical)', 'Last Refreshed': '2020-05-12 21:43:35 US/Eastern'}

In [2]:
#see what data frame looks like
data.head()

,Rank A: Real-Time Performance,Rank B: Day Performance,Rank C: Day Performance,Rank D: Month Performance,Rank E: Month Performance,Rank F: Year-to-Date (YTD) Performance,Rank G: Year Performance,Rank H: Year Performance,Rank I: Year Performance,Rank J: Year Performance
Consumer Staples,-0.0087,-0.0087,-0.0034,-0.0131,-0.1072,-0.0891,0.0018,0.0423,0.1733,1.0849
Utilities,-0.0090,-0.0090,-0.0250,-0.0911,-0.1975,-0.1437,-0.0421,0.0800,0.2662,0.8483
Health Care,-0.0149,-0.0149,-0.0031,0.0485,-0.0439,-0.0241,0.1290,0.3317,0.3671,2.2861
Materials,-0.0156,-0.0156,-0.0046,-0.0092,-0.1557,-0.1701,-0.0711,-0.0308,-0.0048,0.6440
Communication Services,-0.0194,-0.0194,0.0090,0.0819,-0.0961,-0.0581,0.0411,0.0860,0.0949,0.6294

In [3]:
#copy the data to make changes to the data frame
stock_data = data.copy()
#reset the index so that category is it's own column
stock_data.reset_index(level=0, inplace=True)
#display results
stock_data.head()

,index,Rank A: Real-Time Performance,Rank B: Day Performance,Rank C: Day Performance,Rank D: Month Performance,Rank E: Month Performance,Rank F: Year-to-Date (YTD) Performance,Rank G: Year Performance,Rank H: Year Performance,Rank I: Year Performance,Rank J: Year Performance
0,Consumer Staples,-0.0087,-0.0087,-0.0034,-0.0131,-0.1072,-0.0891,0.0018,0.0423,0.1733,1.0849
1,Utilities,-0.0090,-0.0090,-0.0250,-0.0911,-0.1975,-0.1437,-0.0421,0.0800,0.2662,0.8483
2,Health Care,-0.0149,-0.0149,-0.0031,0.0485,-0.0439,-0.0241,0.1290,0.3317,0.3671,2.2861
3,Materials,-0.0156,-0.0156,-0.0046,-0.0092,-0.1557,-0.1701,-0.0711,-0.0308,-0.0048,0.6440
4,Communication Services,-0.0194,-0.0194,0.0090,0.0819,-0.0961,-0.0581,0.0411,0.0860,0.0949,0.6294

In [4]:
#rename the "index" to category
stock_data.rename(columns={'index': 'Category', 'Rank B: Day Performance': 'Day Performance', 'Rank F: Year-to-Date (YTD) Performance':'YTD Performance'}, inplace=True)

#create a dictionary to map the categories to ID #
category_dict = {'Consumer Staples':1,'Utilities':2,'Health Care':3, 'Materials':4,'Communication Services':5,'Information Technology':6,'Consumer Discretionary':7,'Energy':8,'Financials':9,'Industrials':10,'Real Estate':11}

#map categories to category ID, create a new column
stock_data['Category ID']= stock_data['Category'].map(category_dict)

#create another column with current date since this will be run daily
stock_data['Date'] = pd.to_datetime('today')

#check results
stock_data.head()

,Category,Rank A: Real-Time Performance,Day Performance,Rank C: Day Performance,Rank D: Month Performance,Rank E: Month Performance,YTD Performance,Rank G: Year Performance,Rank H: Year Performance,Rank I: Year Performance,Rank J: Year Performance,Category ID,Date
0,Consumer Staples,-0.0087,-0.0087,-0.0034,-0.0131,-0.1072,-0.0891,0.0018,0.0423,0.1733,1.0849,1,2020-05-12 21:43:35.880902
1,Utilities,-0.0090,-0.0090,-0.0250,-0.0911,-0.1975,-0.1437,-0.0421,0.0800,0.2662,0.8483,2,2020-05-12 21:43:35.880902
2,Health Care,-0.0149,-0.0149,-0.0031,0.0485,-0.0439,-0.0241,0.1290,0.3317,0.3671,2.2861,3,2020-05-12 21:43:35.880902
3,Materials,-0.0156,-0.0156,-0.0046,-0.0092,-0.1557,-0.1701,-0.0711,-0.0308,-0.0048,0.6440,4,2020-05-12 21:43:35.880902
4,Communication Services,-0.0194,-0.0194,0.0090,0.0819,-0.0961,-0.0581,0.0411,0.0860,0.0949,0.6294,5,2020-05-12 21:43:35.880902

In [5]:
#create a subframe that will be exported to sql
for_sql = stock_data[['Category ID', 'Category', 'Day Performance', 'YTD Performance', 'Date']].copy()

#check results
for_sql.head()

,Category ID,Category,Day Performance,YTD Performance,Date
0,1,Consumer Staples,-0.0087,-0.0891,2020-05-12 21:43:35.880902
1,2,Utilities,-0.0090,-0.1437,2020-05-12 21:43:35.880902
2,3,Health Care,-0.0149,-0.0241,2020-05-12 21:43:35.880902
3,4,Materials,-0.0156,-0.1701,2020-05-12 21:43:35.880902
4,5,Communication Services,-0.0194,-0.0581,2020-05-12 21:43:35.880902

In [12]:
#now send this data to SQL!
#reference: https://stackoverflow.com/questions/30631325/writing-to-mysql-database-with-pandas-using-sqlalchemy-to-sql
import pymysql
from sqlalchemy import create_engine

user = 'admin'
passw = 'dude1990'
host =  'group3final.cx1foeolbgvg.us-east-2.rds.amazonaws.com'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'stock_data'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

directory = r'directoryLocation'  # path of csv file
csvFileName = 'something.csv'

for_sql.to_sql(name='stock', con=mydb, if_exists = 'append', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting