In [9]:
import camelot

In [12]:
tables = camelot.read_pdf('MediaHR20200426_20200502.pdf')
tables

In [13]:
tables[0]

In [15]:
print(tables[0].parsing_report)

{'accuracy': 98.41, 'whitespace': 16.67, 'order': 1, 'page': 1}

In [16]:
tables[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,,"Actual Apr 26, 2020 - May 02, 2020",,,,,,,,Percent Change from Previous Year,,,,,,,
1,,26-Apr-20,27-Apr-20,28-Apr-20,29-Apr-20,30-Apr-20,1-May-20,2-May-20,Total,28-Apr-19,29-Apr-19,30-Apr-19,1-May-19,2-May-19,3-May-19,4-May-19,Total
2,,Sun,Mon,Tue,Wed,Thu,Fri,Sat,Week,Sun,Mon,Tue,Wed,Thu,Fri,Sat,Week
3,Occupancy,24.0%,28.3%,29.4%,30.0%,29.6%,29.1%,29.9%,28.6%,-54.5%,-56.7%,-58.1%,-57.7%,-56.7%,-61.7%,-62.3%,-58.5%
4,Average Daily Rate,$72.56,$73.71,$74.49,$74.29,$73.97,$76.14,$77.20,$74.72,-40.4%,-43.7%,-45.0%,-45.3%,-44.2%,-43.9%,-44.1%,-44.0%
5,Revenue Per Available Room,$17.44,$20.83,$21.90,$22.30,$21.91,$22.16,$23.05,$21.39,-72.9%,-75.6%,-77.0%,-76.8%,-75.9%,-78.5%,-78.9%,-76.8%

In [17]:
tables[0].to_csv('test.csv')

In [ ]:
path1 = r'C:\Maridor\MS DAV\DAV 5400 - Analytics Programming\Final Project\fire\text files'+ '\\'
i = 0
file = ''
combinedfile = pd.DataFrame() #creates an empty dataframe to store the combined csv files
for f in os.listdir(path1): #loops through the directory to find the CSV file
    file = file + str(i)
    file = pd.read_csv(path1 + f) #reads each csv file
    combinedfile = pd.concat([file,combinedfile]) #merges the previous read file into one file
combinedfile.to_csv(r'C:\Maridor\MS DAV\DAV 5400 - Analytics Programming\Final Project\fire\text files\combinedfire.csv') #saves the file as CSV into the local machine